# Pulse-Eight USB CEC Adapter v12 and compatible adapters.
SUBSYSTEM=="tty", ATTRS{idVendor}=="2548", GROUP="dialout", MODE="0660", TAG+="uaccess"
KERNEL=="uinput", GROUP="input", MODE="0660", TAG+="uaccess"
